.card {
  color: white;
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
}

.container h1 {
  font-size: 60px;
}
